@-webkit-keyframes galerieG {
  0% {
    -webkit-transform: scale(5) translate(-100%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-100%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieG {
  0% {
    -webkit-transform: scale(5) translate(-100%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-100%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieA {
  0% {
    -webkit-transform: scale(5) translate(-72%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-72%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieA {
  0% {
    -webkit-transform: scale(5) translate(-72%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-72%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieL {
  0% {
    -webkit-transform: scale(5) translate(-45%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-45%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieL {
  0% {
    -webkit-transform: scale(5) translate(-45%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-45%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieE {
  0% {
    -webkit-transform: scale(5) translate(-17%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-17%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieE {
  0% {
    -webkit-transform: scale(5) translate(-17%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-17%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieR {
  0% {
    -webkit-transform: scale(5) translate(12%, 100%) rotateY(1080deg);
            transform: scale(5) translate(12%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieR {
  0% {
    -webkit-transform: scale(5) translate(12%, 100%) rotateY(1080deg);
            transform: scale(5) translate(12%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieI {
  0% {
    -webkit-transform: scale(5) translate(40%, 100%) rotateY(1080deg);
            transform: scale(5) translate(40%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieI {
  0% {
    -webkit-transform: scale(5) translate(40%, 100%) rotateY(1080deg);
            transform: scale(5) translate(40%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieEE {
  0% {
    -webkit-transform: scale(5) translate(69%, 100%) rotateY(1080deg);
            transform: scale(5) translate(69%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieEE {
  0% {
    -webkit-transform: scale(5) translate(69%, 100%) rotateY(1080deg);
            transform: scale(5) translate(69%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes serie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes serie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=keyframes.css.map */