@keyframes galerieG {
    0% {
        transform: scale(5) translate(-100%,100%) rotateY(1080deg);
    }
    100% {    
        transform: scale(1) ;
    }
}

@keyframes galerieA {
    0% {
        transform: scale(5) translate(-72%,100%) rotateY(1080deg);
    }
    100% {    
        transform: scale(1) ;
    }
}

@keyframes galerieL {
    0% {
        transform: scale(5) translate(-45%,100%) rotateY(1080deg);
    }
    100% {    
        transform: scale(1) ;
    }
}

@keyframes galerieE {
    0% {
        transform: scale(5) translate(-17%,100%) rotateY(1080deg);
    }
    100% {    
        transform: scale(1) ;
    }
}

@keyframes galerieR {
    0% {
        transform: scale(5) translate(12%,100%) rotateY(1080deg);
    }
    100% {    
        transform: scale(1) ;
    }
}

@keyframes galerieI {
    0% {
        transform: scale(5) translate(40%,100%) rotateY(1080deg);
    }
    100% {    
        transform: scale(1) ;
    }
}

@keyframes galerieEE {
    0% {
        transform: scale(5) translate(69%,100%) rotateY(1080deg);
    }
    100% {    
        transform: scale(1) ;
    }
}