@-webkit-keyframes galerieG {
  0% {
    -webkit-transform: scale(5) translate(-100%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-100%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieG {
  0% {
    -webkit-transform: scale(5) translate(-100%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-100%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieA {
  0% {
    -webkit-transform: scale(5) translate(-72%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-72%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieA {
  0% {
    -webkit-transform: scale(5) translate(-72%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-72%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieL {
  0% {
    -webkit-transform: scale(5) translate(-45%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-45%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieL {
  0% {
    -webkit-transform: scale(5) translate(-45%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-45%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieE {
  0% {
    -webkit-transform: scale(5) translate(-17%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-17%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieE {
  0% {
    -webkit-transform: scale(5) translate(-17%, 100%) rotateY(1080deg);
            transform: scale(5) translate(-17%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieR {
  0% {
    -webkit-transform: scale(5) translate(12%, 100%) rotateY(1080deg);
            transform: scale(5) translate(12%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieR {
  0% {
    -webkit-transform: scale(5) translate(12%, 100%) rotateY(1080deg);
            transform: scale(5) translate(12%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieI {
  0% {
    -webkit-transform: scale(5) translate(40%, 100%) rotateY(1080deg);
            transform: scale(5) translate(40%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieI {
  0% {
    -webkit-transform: scale(5) translate(40%, 100%) rotateY(1080deg);
            transform: scale(5) translate(40%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes galerieEE {
  0% {
    -webkit-transform: scale(5) translate(69%, 100%) rotateY(1080deg);
            transform: scale(5) translate(69%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes galerieEE {
  0% {
    -webkit-transform: scale(5) translate(69%, 100%) rotateY(1080deg);
            transform: scale(5) translate(69%, 100%) rotateY(1080deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  font-family: "Ubuntu";
}

a {
  text-decoration: none;
  color: inherit;
}

.conteneur-tete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px 50px;
}

.conteneur-tete-titre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  color: #118cc5;
  padding: 2% 0 2% 0;
}

.conteneur-tete-titre-titre {
  margin: auto;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 3px;
  width: 100%;
}

.conteneur-tete-titre-titre:hover {
  background-color: #118cc5;
  color: white;
}

.conteneur-tete-titre-titre-liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteneur-tete-titre-titre-liste div {
  position: absolute;
  display: none;
  z-index: 1;
  margin-top: 30px;
  background-color: white;
  padding: 10px 0 10px 0;
  width: 20%;
}

.conteneur-tete-titre-titre-liste div a {
  display: block;
  margin-top: 10px;
  width: 100%;
}

.conteneur-tete-titre-titre-liste:hover div {
  display: block;
  color: #118cc5;
}

.conteneur-tete-bloc {
  width: 80%;
  margin: auto;
  text-align: center;
}

.conteneur-tete-bloc-tapis {
  display: inline-block;
  width: 10%;
  font-size: 6em;
  font-family: "Ubuntu";
  text-shadow: 7px 3px #558ABB;
}

.conteneur-tete-bloc-tapis-1 {
  -webkit-animation: galerieG 1s ease;
          animation: galerieG 1s ease;
}

.conteneur-tete-bloc-tapis-2 {
  -webkit-animation: galerieA 1.2s ease;
          animation: galerieA 1.2s ease;
}

.conteneur-tete-bloc-tapis-3 {
  -webkit-animation: galerieL 1.4s ease;
          animation: galerieL 1.4s ease;
}

.conteneur-tete-bloc-tapis-4 {
  -webkit-animation: galerieE 1.6s ease;
          animation: galerieE 1.6s ease;
}

.conteneur-tete-bloc-tapis-5 {
  -webkit-animation: galerieR 1.8s ease;
          animation: galerieR 1.8s ease;
}

.conteneur-tete-bloc-tapis-6 {
  -webkit-animation: galerieI 2s ease;
          animation: galerieI 2s ease;
}

.conteneur-tete-bloc-tapis-7 {
  -webkit-animation: galerieEE 2.2s ease;
          animation: galerieEE 2.2s ease;
}

.conteneur_series {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 90%;
  margin: auto;
}

.conteneur_series-vignette {
  background-color: #ddb660;
}

.conteneur_series-vignette h3 {
  text-align: center;
}

.bio {
  width: 80%;
  margin: auto;
}

.bio-texte {
  text-align: center;
  font-style: italic;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 50px;
  letter-spacing: 5px;
  word-spacing: 20px;
}

.bio-texte-vignette {
  color: white;
}

.bio-spe {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  text-align: center;
  font-size: 150px;
}

.galerie {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.galerie-grand {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  gap: 50px;
}

.galerie-grand-img {
  -ms-grid-column: 2;
  grid-column: 2;
  height: 300px;
  text-align: center;
}

.galerie-grand-img-img {
  max-height: 100%;
  max-width: 100%;
}

.galerie-grand-fleche {
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.galerie-grand-fleche-gauche {
  margin: auto;
  border: 100px solid white;
  border-right-color: #ddb660;
}

.galerie-grand-fleche-droite {
  margin: auto;
  border: 100px solid white;
  border-left-color: #ddb660;
}

.galerie-miniatures #galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  margin: 2%;
  height: 120px;
}

.galerie-miniatures-img {
  height: 100px;
}

.galerie-miniatures-img-mini {
  max-height: 100%;
  max-width: 150px;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: #118cc5;
  color: white;
}

footer div {
  font-size: 20px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */