@import "./variables";
@import "./keyframes";


body {
    font-family: "Ubuntu";
}

a {
    text-decoration: none;
    color: inherit;
}

.conteneur {
    &-tete {
        display: flex;
        flex-direction: column;
        gap: 30px 50px;
        
        &-titre {
            //border-bottom: 2px solid $couleur_titre;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            color: $couleur_titre;
            padding: 2% 0 2% 0;

            &-titre {
                margin: auto;
                color: inherit;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                padding: 10px 0 10px 0;
                border-radius: 3px;
                width: 100%;
                &:hover {
                    background-color: $couleur_titre;
                    color: white;
                }

                &-liste {
                    display: flex;
                    flex-direction: column;
                    div {
                        position: absolute;
                        display: none;
                        z-index:1;
                        margin-top: 30px;
                        background-color: white;
                        padding: 10px 0 10px 0;
                        
                        
                        width: 20%;
                        a {
                            display: block;
                            margin-top: 10px;
                            width: 100%;
                        }
                    }

                    &:hover div {
                        display: block;
                        color: $couleur_titre;
                    }
                }

           }
       }
       
       &-bloc {
            width: 80%; 
            margin: auto;
            text-align: center;;
            &-tapis {
                display: inline-block;
                width: 10%;
                font-size: 6em;
                font-family: "Ubuntu";
                text-shadow: 7px 3px #558ABB;
                &-1 {
                    animation: galerieG 1s ease;
                }
                &-2 {
                    animation: galerieA 1.2s ease;
                }
                &-3 {
                    animation: galerieL 1.4s ease;
                }
                &-4 {
                    animation: galerieE 1.6s ease;
                }
                &-5 {
                    animation: galerieR 1.8s ease;
                }
                &-6 {
                    animation: galerieI 2s ease;
                }
                &-7 {
                    animation: galerieEE 2.2s ease;
                }
            } 
        }
    }
}

.conteneur_series {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 90%;
    margin: auto;

    &-vignette {
        background-color: $couleur_secondaire;
        h3 {
            text-align: center;
        }
    }
}

.bio {
    width: 80%;
    margin: auto;
    &-texte {
        text-align: center;
        font-style: italic;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 50px;
        letter-spacing: 5px;
        word-spacing: 20px;

        &-vignette {
            color: white;
        }
    }
    &-spe {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        text-align: center;
        font-size: 150px;
    }
    
}

.galerie {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    &-grand {
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        gap: 50px;
        
        &-img {
            grid-column: 2;
            height: 300px;
            text-align: center;
            &-img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        &-fleche {
            vertical-align: middle;
            display: flex;
            flex-direction: column;

            &-gauche {
                margin: auto;
                border: 100px solid white;
                border-right-color: $couleur_secondaire;
            }

            &-droite {
                margin: auto;
                border: 100px solid white;
                border-left-color: $couleur_secondaire;
            }

            
            
        }
    }

    &-miniatures {
        #galerie {
            display: flex;
            overflow-x: scroll;
            gap: 20px;
            margin: 2%;
            height: 120px;
        }
        
        &-img {
            height: 100px;
            &-mini {
                max-height: 100%;
                max-width: 150px;
            }
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $couleur_titre;
    color: white;

    div {
        font-size: 20px;
        text-align: center;
    }
}